@import 'variables';
@import 'libs/_bootstrap-reboot.min.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Mark';
	// font-family: 'Segoe UI';
	outline: none;
}
	
body {
	overflow: hidden;
}














@import './media';
